.my-carousel .slider {
  background: #fff;
}
.my-carousel .item {
  height: 2.96rem;
}
.my-carousel .item img {
	width: 100%;
}
.my-carousel .v-item {
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.2rem;
}
